{% extends 'base.html' %}
{% block title %}
Profile Page
{% endblock title %}
{% block extra_head %}
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>

{% endblock extra_head %}
{% block content %}
<div class="container-xl px-4 mt-4">
{% if form.errors%}
    <script>
        var delay = alertify.get('notifier','delay');
        alertify.set('notifier','delay', 10);
        alertify.set('notifier','delay', delay);
        function notify(type, message) {
            alertify.notify(message, type, 5, function(){  console.log('dismissed'); });
        }
    </script>
        {% if form.errors %}
        <script>
            notify('error', '{{ form.errors|escapejs }}');
        </script>
        {% endif %}
{% endif %}
{% if messages %}
    <script>
        var delay = alertify.get('notifier','delay');
        alertify.set('notifier','delay', 10);
        alertify.set('notifier','delay', delay);
        function notify(type, message) {
            alertify.notify(message, type, 5, function(){  console.log('dismissed'); });
        }
    </script>
    {% for message in messages %}
    <script>
        notify('{{ message.tags }}', '{{ message }}');
    </script>
    {% endfor %}
    {% endif %}
    <!-- Account page navigation-->
<form action="{% url 'profile' %}" method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0" style="min-height:20rem">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    {% if user.avatar %}
                    <img class="img-account-profile rounded-circle mb-2" id="imgPreview" src="{{ user.avatar.url }}" alt="avatar" style="max-height:10rem; min-width: 160px;">
                    {% else %}
                    <img class="img-account-profile rounded-circle mb-2" id="imgPreview" src="/media/avatars/no_avatar.jpg" alt="avatar" style="max-height:10rem; min-width: 160px;">
                    {% endif %}
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                    <label class="btn btn-primary" for="photo">
                        {{form.avatar}}
                        {% comment %} <input id="photo" type="file" class="d-none" accept=".png, .jpg, .jpeg" name="avatar" value='{{user.avatar.url}}'> {% endcomment %}
                        Upload Image
                    </label>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4" style="min-height:20rem">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputname">Name (how your name will appear to other users on the site)</label>
                            {{form.name}}
                        </div>
                        <!-- Form Group (email address)-->
                        <!--Check if user is sign in using django allauth-->
                        {% if user.socialaccount_set.all %}
                        <div class="mb-3">
                            <i class='small'>Password Cannot be changed Because you used {{user.socialaccount_set.all.0.provider}} to SignUp</i>
                        </div>
                        {% else %}
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                              {{form.password1}}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Password confirm</label>
                            <div class="col-sm-10">
                              {{form.password2}}
                            </div>
                        </div>
                        {% endif %}
                        <!-- Save changes button-->
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-primary" type="submit">Save Changes</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</form>
    <hr>
    <div class="row">
            <div style=margin-bottom:1em ;>
            <label for="">Status</label>
            <select class="form-control" id='status' onchange="filterProducts()">
                <option value="">Please Choose Status</option>
                {% for st in status%}
                <option value="{{st.id}}">{{st.name}}</option>
                {% endfor %}
            </select>
            </div>
        <div class="product_all card-deck row">
        {% for item in user.products.all %}
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="card" style="height: 440px; margin-bottom:10px;" data-toggle="tooltip" data-placement="left" title="{{item.description}}">
                <img src="media/{{item.image}}" class="card-img-top" alt="..." style="max-height: 200px">
                <div class="card-body">
                    <a href="{% url 'productview' item.id %}" class="stretched-link"><h5 class="card-title">{{item.name}}</h5></a>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{item.price}}</li>
                  <li class="list-group-item">{{item.category}}</li>
                  <li class="list-group-item small">{{item.created_at}}</li>
                </ul>
                <div class="card-body">
                    <a href="{% url 'edit' item.id %}" style="z-index: 2;position: relative;bottom: 20%;width: 100%;" class="btn btn-primary btn-block">Edit</a>
                </div>
              </div>
        </div>
        {% endfor %}
        </div>
        <div class="product_filtered col-xs-12 col-sm-6 col-md-3">

        </div>
    </div>
</div>
{% endblock content%} 
{% block extra_body %}
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    }
    )
    $(document).ready(()=>{
        $('#photo').change(function(){
        const file = this.files[0];
        console.log(file);
        if (file){
        let reader = new FileReader();
        reader.onload = function(event){
        console.log(event.target.result);
        $('#imgPreview').attr('src', event.target.result);
        }
        reader.readAsDataURL(file);
        }
        });
        });
    // filter product ajax
    const status = document.getElementById("status");
</script>
<script>
    function filterProducts(){
        const status_value = document.getElementById("status").value;
        const all_products = document.querySelector('.product_all');
        const filtered_products = document.querySelector('.product_filtered');
        filtered_products.style.display = "none";
        console.log(status_value);
        fetch("/product/filter", {
            body: JSON.stringify({status: status_value}),
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
                "X-Requested-With": "XMLHttpRequest",
            },
        })
        .then(response => response.json())
        .then(data => {
            all_products.style.display = "none";
            filtered_products.style.display = "block";
            if (data.length===0)
            {
                filtered_products.innerHTML = `
                <div class="row">
                    <div class="col-md-2">
                        <img src="/media/system/bot.gif" class="rounded-circle mr-1" alt="Sharon Lessman" height="40">
                    </div>
                <div class="alert alert-danger col-md-2 rounded py-2 px-3 ml-3" style=" width:100%">
                    <div class="font-weight-bold">Alvis</div>
                    No Posts Found
                </div>
                </div>`
            }
            else
            {
                filtered_products.innerHTML = '';
                data.forEach(item => {
                    filtered_products.innerHTML +=
                    `<div class="card" style="height: 440px; margin-bottom:10px;" data-toggle="tooltip" data-placement="left" title="${item.description}">
                        <img src="media/${item.image}" class="card-img-top" alt="..." style="max-height: 200px">
                        <div class="card-body">
                            <a href="/product/${item.id}" class="stretched-link"><h5 class="card-title">${item.name}</h5></a>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">${item.price}</li>
                          <li class="list-group-item">${item.category}</li>
                          <li class="list-group-item small">${item.created_at}</li>
                        </ul>
                        <div class="card-body">
                            <a href="/product/${item.id}/edit" style="z-index: 2;position: relative;bottom: 20%;width: 100%;" class="btn btn-primary btn-block">Edit</a>
                        </div>
                      </div>`;
                $('[data-toggle="tooltip"]').tooltip();
                })
            }});
    }
</script>
{% endblock extra_body %}