{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block extra_head %}
<style>
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
  .btn-google {
    color: white !important;
    background-color: #ea4335 !important;
  }
</style>
{% endblock extra_head %}
{% block content %}
<div class="container">

{% get_providers as socialaccount_providers %}
<div class="socialaccount_ballot">

  {% comment %} <div class="login-or">{% trans 'or' %}</div> {% endcomment %}

</div>
{% comment %} {% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %} {% endcomment %}
<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card border-0 shadow rounded-3 my-5">
      <div class="card-body p-4 p-sm-5">
        <h5 class="card-title text-center mb-5 fw-light fs-3">{% trans "Sign In" %}</h5>
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          <div class="form-floating mb-3">
            {{form.login}}
            {% comment %} <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"> {% endcomment %}
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            {{form.password}}
            {% comment %} <input type="password" class="form-control" id="floatingPassword" placeholder="Password"> {% endcomment %}
            <label for="floatingPassword">Password</label>
          </div>

          <div class="form-check mb-3">
            {{form.remember}}
            {% comment %} <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck"> {% endcomment %}
            <label class="form-check-label" for="rememberPasswordCheck">
              Remember password
            </label>
          </div>
          <div class="d-grid">
            <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign
              in</button>
          </div>
          <hr class="my-4">
          <div class="d-grid mb-2">
            <a {% include "socialaccount/snippets/provider_list.html" with process="login" %} class="btn btn-google btn-login text-uppercase fw-bold" type="submit">
              <i class="fab fa-google me-2"></i> Sign in with Google
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
