{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% comment %} <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> {% endcomment %}
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
{% endblock extra_head %}
{% block content %}
<div id="frame">
    <div id="sidepanel">
      <div id="profile">
        <div class="wrap">
          {% if request.user.avatar %}
          <img id="profile-img" class='online' src="{{ user.avatar.url }}" onerror="this.onerror=null;this.src='/media/avatars/avatar.png';">
          {% else %}
          <img id="profile-img" class='online' src="/media/avatars/avatar.png" >
          {% endif %}
          <p>{{request.user.name}}</p>
        </div>
      </div>
      <div id="search">
        <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
        <input type="text" placeholder="Search contacts..." />
      </div>
      <div id="contacts">
        <ul>
          {% for room in rooms %}
          <a href="{% url 'room' room.slug %}">
            <li class="contact {% if currentroom.id == room.id %} active {% endif %}">
              <div class="wrap">
                <span class="contact-status busy"></span>
                {% if room.product.image %}
                <img src="/media/{{ room.product.image }}" onerror="this.onerror=null;this.src='/media/avatars/avatar.png';">
                {% else %}
                <img src="/media/avatars/avatar.png" >
                {% endif %}
                <div class="meta">
                  <p class="name">{{room.product.name}} </p>
                  <p class="preview">{{room.get_last_message}}</p>
                </div>
              </div>
            </li>
          </a>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="content">
      <div class="contact-profile">
        {% if second_user.avatar %}
        <img src="{{ second_user.avatar.url }}" onerror="this.onerror=null;this.src='/media/avatars/avatar.png';">
        {% else %}
        <img src="/media/avatars/avatar.png" >
        {% endif %}
        <p>{{ second_user.name }}: {{currentroom.product.name}}</p>
      </div>
      <div class="messages">
        <ul id="chat-log">
        </ul>
      </div>
      <div class="message-input">
        <div class="wrap">
        <input id="chat-message-input" type="text" placeholder="Write your message..." />
        <button id="chat-message-submit" class="submit">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block extra_body %}
<script src="{% static 'main.js' %}"></script>
<script src="{% static 'reconnecting-websocket.js' %}"></script>
<script>
    var roomName = {{ room_name_json }};
    var username = {{ username }};
    var userId = {{ user_id }};
    var roomId = {{ room_id }};

    // change #frame height to fit screen and subtract it from the navbar height
    var navbarHeight = document.getElementById("bootstrap-navbar").offsetHeight;
    var frameHeight = window.innerHeight - navbarHeight;
    document.getElementById("frame").style.height = frameHeight + "px";

    // change class messages height to fit screen exclude class message-input and class contact-profile
    var messageInputHeight = document.getElementsByClassName("message-input")[0].offsetHeight;
    var contactProfileHeight = document.getElementsByClassName("contact-profile")[0].offsetHeight;
    var messagesHeight = frameHeight - messageInputHeight - contactProfileHeight;
    document.getElementsByClassName("messages")[0].style.height = messagesHeight + "px";
    

    var chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onopen = function(e) {
      fetchMessages();
    }

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if (data['command'] === 'messages') {
          for (let i=0; i<data['messages'].length; i++) {
            createMessage(data['messages'][i]);
          }
        } else if (data['command'] === 'new_message'){
          createMessage(data['message']);
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };
    
    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.getElementById('chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'command': 'new_message',
            'message': message,
            'from': userId,
            'room': roomId
        }));

        messageInputDom.value = '';
    };

    function fetchMessages() {
      chatSocket.send(JSON.stringify({'command': 'fetch_messages', 'room': roomId }));
    }

    function createMessage(data) {
      var author = data['author'];
      var msgListTag = document.createElement('li');
      var imgTag = document.createElement('img');
      var pTag = document.createElement('p');
      pTag.textContent = data.content;      
      if (author === userId) {
        imgTag.src = '{{ request.user.avatar.url }}';
        msgListTag.className = 'sent';
      } else {
        imgTag.src = '{{ second_user.avatar.url }}';
        msgListTag.className = 'replies';
      }
      msgListTag.appendChild(imgTag);
      msgListTag.appendChild(pTag);
      document.querySelector('#chat-log').appendChild(msgListTag);
    }

</script>
{% endblock extra_body %}